@model IEnumerable<Pro3_Sem3.Models.Payment>

@{
    ViewData["Title"] = "GetAllPayment";
    Layout = "~/Views/Shared/_CatererLayout.cshtml";
}

<h1>GetAllPayment</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cater.Cateraddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cus.Cusaddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Paymentid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Paymentid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Paymentid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
