@model IEnumerable<Pro3_Sem3.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foodname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foodimage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foodstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foodprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fooddescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cater)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Foodname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foodimage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foodstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foodprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fooddescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cater.Cateraddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Foodid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Foodid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Foodid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
