@model IEnumerable<Pro3_Sem3.Models.Caterer>

@{
    ViewData["Title"] = "ShowRes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShowRes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th  accesskey="resid" >

                @Html.DisplayNameFor(model => model.Caterid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Catername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caterpasss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caterfullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cateraddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caterphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caterstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cateremail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Caterid)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Catername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caterpasss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caterfullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cateraddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caterphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caterstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cateremail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                <a href='@Url.Action("Index2","Cart",new { resid = item.Caterid })' @*asp-route-id="@item.Caterid"*@>SHow san pham</a>
                <a href='@Url.Action("ShowFood","Cart",new { resid = item.Caterid })' @*asp-route-id="@item.Caterid"*@>Đặt hàng</a> |
                <a href='@Url.Action("ShowPaymentBeforeGetFood","Cart",new { resid = item.Caterid })'>page3</a> |
                <a asp-action="Delete" asp-route-id="@item.Caterid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
